<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxf.mall.dao.CategoryMapper">
    <select id="listAll" resultType="com.hxf.mall.entity.Category">
        select * from category order by id desc
    </select>
    <select id="total" resultType="int">
        select count(*) from category
    </select>
    <insert id="add" keyProperty="id" useGeneratedKeys="true" parameterType="com.hxf.mall.entity.Category">
        insert into category(name) values (#{name})
    </insert>

    <delete id="delete">
        delete from category where id = #{id}
    </delete>
</mapper>