<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hxf.mall.dao.PropertyMapper">
    <select id="select_property_list" parameterType="Integer" resultType="com.hxf.mall.entity.Property">
        select * from property where cid = #{cid} order by id desc
    </select>

    <insert id="insert_property" parameterType="com.hxf.mall.entity.Property" keyProperty="id" useGeneratedKeys="true">
        insert into property(name,cid) VALUES (#{name},#{category.id})
    </insert>

    <delete id="delete_property">
        delete from property where id=#{id}
    </delete>
</mapper>